@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Medium.otf") format("otf");
  font-weight: semi-bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Italic.otf") format("otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Light.otf");
  font-weight: thin;
  font-style: normal;
}

p,
button,
input, label {
  font-family: "Neue Montreal", sans-serif;
  font-weight: 600;
  color: #141210;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.layout {
  max-width: 1480px;
  margin: 0 auto;
}

.auth__button {
  height: 47px;
  width: 100%;
  border: 1px solid #0c0b0a;
  color: #0c0b0a;
  font-size: 14px;
}

.auth__input {
  border-bottom: 1px solid #0c0b0a;
  padding: 14px 0;
  font-size: 16px;
}

.cover__image {
  height: 700px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}