@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Medium.otf") format("otf");
  font-weight: semi-bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Italic.otf") format("otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/neue/NeueMontreal-Light.otf");
  font-weight: thin;
  font-style: normal;
}
/* 
h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
} */

p,
button,
input,
label {
  font-family: "Neue Montreal", sans-serif;
  /* font-weight: 600; */
  color: #141210;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.layout {
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 640px) {
    margin: 0 20px;
  }
}

.layout-container {
  /* margin: 0 30px; */

  /* @apply mx-5 flex flex-col gap-y-5; */
  /* @apply sm:mx-8;   */
  /* @apply md:mx-8;   */
  /* @apply md:mx-16;  
  @apply lg:mx-20;
  @apply xl:mx-28;
  @apply 3xl:max-w-[1920px] 4xl:mx-auto;
  @apply 4xl:w-full; */
}

.auth__button {
  height: 47px;
  width: 100%;
  border: 1px solid #0c0b0a;
  color: #0c0b0a;
  font-size: 14px;
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.auth__input {
  border-bottom: 1px solid #0c0b0a;
  padding: 14px 0;
  color: #181615;
}

.cover__image {
  height: 700px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}
